html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 40px;
}

tr {
  margin: 20px;
}
.btn{
    background-color: darkorange;
    color: white;
    height: 30px;
}
.input{
  height: 30px;
}
.btn{
    background-color: darkorange;
    color: white;
    height: 30px;
}
.input{
  height: 30px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background-color: white;
  }
}
